web/node_modules
api/node_modules
kitchen/node_modules
manager/node_modules
webapp/node_modules

web/package.json
web/package-lock.json
web/.babelrc
web/dist/app.js

api/package.json
api/package-lock.json
api/.babelrc
api/dist/app.js

kitchen/package.json
kitchen/package-lock.json
kitchen/.babelrc
kitchen/dist/app.js

manager/package.json
manager/package-lock.json
manager/.babelrc
manager/dist/app.js

webapp/package.json
webapp/package-lock.json
webapp/.babelrc
webapp/dist/app.js



